.home-container {
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.no-attendance {
    margin: 20px 0;
    font-size: 16px;
}

.attendance-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.attendance-card {
    border: 1px solid #007bff;
    padding: 16px;
    border-radius: 8px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 9%,
      rgba(9, 9, 121, 1) 68%,
      rgba(0, 91, 255, 1) 97%
    );
}

.attendance-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.attendance-title {
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}

.attendance-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.attendance-class {
    background-color: #007bff;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.attendance-status {
    padding: 4px 8px;
    border-radius: 4px;
}

.completed {
    background-color: #28a745;
    color: white;
}.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background: #0056b3;
  }
  

.not-completed {
    background-color: #ffc107;
    color: white;
}

.attendance-remarks {
    margin-top: 5px;
    font-style: italic;
}

.login-alert {
    text-align: center;
    margin-top: 20px;
}

.alert {
    padding: 16px;
    background-color: #fff3cd;
    color: #856404;
    border-radius: 4px;
}

.login-link {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}